.badge {
  position: relative;
}
.badge[data-badge]:after {
  content: attr(data-badge);
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 0.7em;
  background: #00cbb1;
  color: white;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  border-radius: 50%;
}
.badge.top[data-badge]:after {
  top: -5px;
  right: 12px;
}
